
  * {
    font-Family: 'Kanit';
  }
  
  .titles {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kanit', sans-serif;
  }
  
  .container {
    
    background-color: rgb(115, 232, 199);
    width: 100vw;
    min-height: 100vh;
    
  }
  
  
  .Boxlogin {
    align-items: center;
    display: inline-block;
    border-color: azure;
    border-radius:20px;
    margin-top:auto;
    margin-bottom: auto;
    width:450px;
    height:300px;
    background-color:rgb(252, 250, 250);
  }
  .inputtext {
    padding: 4px;

  }